<% layout("/layouts/boilerplate") %>
    <h3>Create a new Listing</h3>
    <form method="POST" action="/listings"  novalidate class="needs-validation" enctype="multipart/form-data">
       <div class="mb-3">
         <label for="title" class="form-label">Title</label>
        <input name="listing[title]" 
        placeholder="enter title" 
        type="text" 
        class="form-control" 
        required>
        <div class="valid-feedback">
        Title looks good!
       </div>
       </div>

       <div class="mb-3">
         <label for="description" 
         class="form-label">Description
        </label>
        <textarea 
        name="listing[description]"
        class="form-control" 
        required
        >
    </textarea>
     <div class="invalid-feedback">
        Write a short description
       </div>
        </div>

        <div class="mb-3">
             <label for="image" class="form-label">Upload your Listing Image</label>
              <input name="listing[image]" type="file"  class="form-control" required>
        </div>


        <div class="mb-3">
            <label for="price" class="form-label">price</label>
            <input name="listing[price]" placeholder="enter price" type="number" class="form-control" required>
             <div class="invalid-feedback">
        Enter a valid price
       </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input name="listing[location]" placeholder="enter location" class="form-control" required>
             <div class="invalid-feedback">
            Enter a valid location
        </div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="enter country"  class="form-control" required>
             <div class="invalid-feedback">
            Enter a valid country
         </div>
         </div>
        <br></br>
        <button class="btn btn-dark add-btn">add</button>
    </form>