.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    text-align: center;
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly ;
}
.f-info-links{
    width: 100%;
}
.f-info-socials{
    width: 100%;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size:1.2rem;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0% !important;
}
.card-text{
    font-weight: 400 !important;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important; 
    border: none !important;
}
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0%;
    padding-right: 0%;
}
.listing-card img {
  height: 260px;
  object-fit: cover;
  border-radius: 15px;
}

#map {
   height: 400px;
   width: 80vb;
    }